:root {
  --light: #FFFDFA;
  --dark: #141415;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

.dark-mode {
  background-color: var(--dark);
  color: var(--light);
}

.wrapper {
  max-width: 1024px;
  margin-inline: auto;
}

/* dark and light mode toggle switch */
#toggle-switch {
  position: relative;
  width: 50px;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}

#toggle-label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

#toggle-check {
  position: absolute;
  display: none;
}

#toggle-span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

/* the ~ is a sibling combinator */
/* if the radio button is checked */
#toggle-check:checked ~ #toggle-span {
  background-color: var(--light);
}

#toggle-span::before {
  content: "";
  position: absolute;
  top: 3.25px;
  left: 4px;
  width: 18.75px;
  height: 18.75px;
  border-radius: 50%;
  box-shadow: inset 7px -1px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

#toggle-check:checked ~ #toggle-span::before {
  transform: translate(23.75px);
  background-color: var(--dark);
  box-shadow: none;
}

#content {
  text-align: center;
}

/* list-style-type: none to remove the bullet, overflow: hidden to remove the scroll */
.navbar-nav {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

/* This is how the list will change when we hover */
.navbar-nav li a:hover,
.active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

/* This is how the list display without hovering */
.navbar li a {
  padding: 8px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.dark-mode .navbar-nav li a {
  background-color: black;
  color: white;
}

.navbar {
  margin-top: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

/* Using Google Fonts, learnt how to embed through Google Fonts */
h1 {
  font-size: 64px;
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 36px;
  margin: 8px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

h3 {
  font-size: 24px;
  margin: 8px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#content2 {
  padding-top: 64px;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#content3 {
  padding-top: 8px;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap");
